<nav>
    <ul>
        <li><a href="@Url.RouteUrl("Nuevo_Paciente")">Registrar Paciente</a></li>
        <li><a href="@Url.RouteUrl("Pacientes")">Listar Pacientes</a></li>
        <li><a href="#">content</a></li>
    </ul>
</nav>