<h1 style="text-align:center">Este sera el formulario para registrar un nuevo paciente</h1>

<table style="margin-left:25%">
    <tr>
        <td><label>Rut</label></td>
        <td>:</td>
        <td><input type="text" placeholder=""/></td>
    </tr>

    <tr>
        <td><label>Nombre</label></td>
        <td>:</td>
        <td><input type="text" placeholder=""/></td>
    </tr>
    <tr>
        <td><label>Edad</label></td>
        <td>:</td>
        <td><input type="text" placeholder="" /></td>
    </tr>

    <tr>
        <td><label>Prevision</label></td>
        <td>:</td>
        <td><input type="radio" name="radio1"/></td>
        <td><input type="radio" name="radio2" /></td>
    </tr>


</table>